<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_wind_leaf_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{740,368}}</string>
                <key>offset</key>
                <string>{-251,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,163},{740,368}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>action_wind_leaf_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,370},{698,312}}</string>
                <key>offset</key>
                <string>{-222,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,217},{698,312}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>action_wind_leaf_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1217},{570,274}}</string>
                <key>offset</key>
                <string>{-185,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,213},{570,274}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>action_wind_leaf_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1},{558,278}}</string>
                <key>offset</key>
                <string>{-191,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,214},{558,278}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>action_wind_leaf_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,683},{696,312}}</string>
                <key>offset</key>
                <string>{230,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,242},{696,312}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>action_wind_leaf_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,996},{768,220}}</string>
                <key>offset</key>
                <string>{216,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{499,342},{768,220}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>action_wind_leaf_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1492},{496,134}}</string>
                <key>offset</key>
                <string>{149,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,420},{496,134}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>action_wind_leaf_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,560},{456,220}}</string>
                <key>offset</key>
                <string>{277,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{716,367},{456,220}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>action_wind_leaf_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1217},{390,304}}</string>
                <key>offset</key>
                <string>{386,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{858,286},{390,304}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>action_wind_leaf_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,370},{1,1}}</string>
                <key>offset</key>
                <string>{-4.5,4.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_wind_leaf.png</string>
            <key>size</key>
            <string>{1021,1627}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e20caa9dc91a81badfaba059ee9a862:1/1$</string>
            <key>textureFileName</key>
            <string>action_wind_leaf.png</string>
        </dict>
    </dict>
</plist>
