<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spr_clock_noTime.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{46,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{46,58}</string>
            </dict>
            <key>spr_socre_level_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,30},{88,28}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{88,28}}</string>
                <key>sourceSize</key>
                <string>{100,28}</string>
            </dict>
            <key>spr_socre_level_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,30},{100,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,28}}</string>
                <key>sourceSize</key>
                <string>{100,28}</string>
            </dict>
            <key>spr_socre_level_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1},{100,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,28}}</string>
                <key>sourceSize</key>
                <string>{100,28}</string>
            </dict>
            <key>spr_socre_level_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,30},{100,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,28}}</string>
                <key>sourceSize</key>
                <string>{100,28}</string>
            </dict>
            <key>spr_socre_level_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1},{100,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,28}}</string>
                <key>sourceSize</key>
                <string>{100,28}</string>
            </dict>
            <key>spr_socre_level_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,30},{100,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,28}}</string>
                <key>sourceSize</key>
                <string>{100,28}</string>
            </dict>
            <key>spr_socre_level_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1},{100,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,28}}</string>
                <key>sourceSize</key>
                <string>{100,28}</string>
            </dict>
            <key>spr_socre_level_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1},{88,28}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{88,28}}</string>
                <key>sourceSize</key>
                <string>{100,28}</string>
            </dict>
            <key>spr_socre_level_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1},{88,28}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{88,28}}</string>
                <key>sourceSize</key>
                <string>{100,28}</string>
            </dict>
            <key>spr_socre_level_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,30},{88,28}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{88,28}}</string>
                <key>sourceSize</key>
                <string>{100,28}</string>
            </dict>
            <key>spr_socre_level_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,1},{88,28}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{88,28}}</string>
                <key>sourceSize</key>
                <string>{100,28}</string>
            </dict>
            <key>spr_socre_level_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,30},{88,28}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{88,28}}</string>
                <key>sourceSize</key>
                <string>{100,28}</string>
            </dict>
            <key>spr_socre_level_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1},{88,28}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{88,28}}</string>
                <key>sourceSize</key>
                <string>{100,28}</string>
            </dict>
            <key>spr_socre_level_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,30},{88,28}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{88,28}}</string>
                <key>sourceSize</key>
                <string>{100,28}</string>
            </dict>
            <key>spr_socre_level_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,1},{88,28}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{88,28}}</string>
                <key>sourceSize</key>
                <string>{100,28}</string>
            </dict>
            <key>spr_state_double.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>spr_state_jpq.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>spr_state_lucky.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_scene_spr1.png</string>
            <key>size</key>
            <string>{946,59}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c16355f88c06fd87b4398be487cedf50:1/1$</string>
            <key>textureFileName</key>
            <string>game_scene_spr1.png</string>
        </dict>
    </dict>
</plist>
