<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card0.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,81},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card1.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,81},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card10.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,81},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card11.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,81},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card12.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,81},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card13.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,81},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card14.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,81},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card15.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,81},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card16.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,81},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card17.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,81},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card18.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,81},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card19.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,81},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card2.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,81},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card20.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,81},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card21.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,81},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card22.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,81},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card23.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,81},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,81},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card25.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,41},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card26.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,41},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card27.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,41},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card28.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,41},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card29.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,41},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card3.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,41},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card30.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,41},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card31.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,41},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card32.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,41},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card33.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,41},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card34.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,41},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card35.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,41},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card36.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,41},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card37.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,41},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card38.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,41},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card39.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,41},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card4.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,41},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,41},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card41.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card42.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,1},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card43.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,1},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card44.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,1},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card45.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,1},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card46.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,1},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card47.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card48.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,1},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card49.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card5.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,1},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card50.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card51.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card52.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card53.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card6.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card7.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card8.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>card9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>smallPoke.png</string>
            <key>size</key>
            <string>{973,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23f68a6301c08808d28117474ef3c5d9:1/1$</string>
            <key>textureFileName</key>
            <string>smallPoke.png</string>
        </dict>
    </dict>
</plist>
