<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_game_start_new_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,154},{374,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,151}}</string>
                <key>sourceSize</key>
                <string>{374,151}</string>
            </dict>
            <key>btn_game_start_new_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,154},{372,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{372,149}}</string>
                <key>sourceSize</key>
                <string>{374,151}</string>
            </dict>
            <key>btn_rank_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1},{374,152}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{374,152}}</string>
                <key>sourceSize</key>
                <string>{384,154}</string>
            </dict>
            <key>btn_rank_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{374,152}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{374,152}}</string>
                <key>sourceSize</key>
                <string>{384,154}</string>
            </dict>
            <key>btn_sound_off_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,1},{96,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,103}}</string>
                <key>sourceSize</key>
                <string>{96,103}</string>
            </dict>
            <key>btn_sound_on_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,154},{112,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,116}}</string>
                <key>sourceSize</key>
                <string>{112,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>btn_gameStart_new.png</string>
            <key>size</key>
            <string>{862,306}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df10ecba3518b241e2ba76d18078f3e2:1/1$</string>
            <key>textureFileName</key>
            <string>btn_gameStart_new.png</string>
        </dict>
    </dict>
</plist>
