<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>set_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,57},{196,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,49}}</string>
                <key>sourceSize</key>
                <string>{196,49}</string>
            </dict>
            <key>set_btn_community.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,107},{211,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,91}}</string>
                <key>sourceSize</key>
                <string>{211,91}</string>
            </dict>
            <key>set_btn_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,57},{196,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,49}}</string>
                <key>sourceSize</key>
                <string>{196,49}</string>
            </dict>
            <key>set_more_games.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,107},{261,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,91}}</string>
                <key>sourceSize</key>
                <string>{261,91}</string>
            </dict>
            <key>set_progress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{405,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,27}}</string>
                <key>sourceSize</key>
                <string>{405,27}</string>
            </dict>
            <key>set_progress_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,29},{403,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{403,27}}</string>
                <key>sourceSize</key>
                <string>{405,27}</string>
            </dict>
            <key>set_progress_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,1},{47,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,49}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>set_spr_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,199},{648,531}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{648,531}}</string>
                <key>sourceSize</key>
                <string>{660,541}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dialog_setting.png</string>
            <key>size</key>
            <string>{533,848}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e55958b33ebe0d954cf6a32e151ad7b3:1/1$</string>
            <key>textureFileName</key>
            <string>dialog_setting.png</string>
        </dict>
    </dict>
</plist>
